<!-- Formulaire de rénitialisation de mot de passe -->
<div class="background-container">
  <div class="container">
    <h2>Réinitialiser le Mot de Passe</h2>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="newPassword">Nouveau Mot de Passe:</label>
        <input id="newPassword" formControlName="newPassword" type="password" class="form-control" placeholder="Entrez votre nouveau mot de passe" />
        <div *ngIf="resetPasswordForm.get('newPassword')?.invalid && resetPasswordForm.get('newPassword')?.touched" class="text-danger">
          Le mot de passe est requis et doit comporter au moins 6 caractères.
        </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="resetPasswordForm.invalid">Réinitialiser le Mot de Passe</button>
    </form>
    <div *ngIf="message" class="alert alert-success mt-3">
      {{ message }}
    </div>
  </div>
</div>
