<!--Page d'accuuil-->
<div class="home-container">
    <div class="home-content">
      <h1 class="my-4">Bienvenue sur SalonMaster</h1>
      <p>SalonMaster est votre solution ultime pour gérer et optimiser votre salon d'esthétique. Notre application est conçue pour vous offrir une vue d'ensemble claire de vos performances et vous aider à atteindre vos objectifs.</p>
      
      <section class="features">
        <h2>Fonctionnalités Principales</h2>
        <ul>
          <li><strong>Connexion Sécurisée :</strong> Accédez à votre espace personnel avec une connexion sécurisée. Gardez le contrôle total de vos informations.</li>
          <li><strong>Suivi du Chiffre d'Affaires :</strong> Renseignez vos chiffres d'affaires de manière simple et rapide. Analysez vos performances et identifiez les tendances.</li>
          <li><strong>Visualisation de la Performance :</strong> Visualisez votre classement par rapport à d'autres salons d'esthétique dans votre région. Obtenez des insights précieux pour améliorer vos services.</li>
          <li><strong>Gestion Efficace :</strong> Profitez d'outils pour gérer vos rendez-vous, vos clients, et vos stocks, tout en recevant des rapports détaillés sur votre activité.</li>
        </ul>
      </section>
  
      <section class="cta">
        <h2>Commencez dès Aujourd'hui</h2>
        <p>Inscrivez-vous pour découvrir toutes les fonctionnalités de SalonMaster et commencer à optimiser la gestion de votre salon. Que vous soyez un nouveau venu ou un utilisateur expérimenté, notre application est conçue pour s'adapter à vos besoins.</p>
        <nav>
          <a routerLink="/register">Inscription</a> |
          <a routerLink="/login">Connexion</a>
        </nav>
      </section>
    </div>
  </div>
  
